@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-primary-color: white;
  --dark-primary-color: #1f1f1f;

  background-color: var(--light-primary-color);
}

/* Override Ant Design styles */
.ant-layout-header {
  background-color: var(--light-primary-color) !important; 
}

.ant-menu.ant-menu-light {
  background-color: var(--light-primary-color) !important;
}

.ant-menu.ant-menu-dark {
  background-color: var(--dark-primary-color) !important;
}

.ant-menu-dark .ant-menu-item-selected {
  background-color: var(
    --dark-primary-color
  ) !important;
}

.ant-menu-dark .ant-menu-item:hover {
  background-color: var(--dark-primary-color) !important;
}
